<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papertrail | Admin-Login </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="m-0 p-0" style="background-color: #F1F1F1;">
    <div id="login">
        <h5 class="text-center text-dark pt-5"><img
                src="https://res.cloudinary.com/dtbohkfpy/image/upload/v1687950151/logo_png_la2lo3.png" width="200"
                height="60"><br></h5>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/admin" method="post"><br>
                            <h3 class="text-center text-dark">Admin Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-dark">Email:</label><br>
                                <input type="email" name="email" id="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-dark">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control" required>
                                <div class="d-flex justify-content-end">
                                    <label for="Invalid" class="text-danger"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-danger btn-md" value="Log In"><br>
                            </div>
                            <p class="text-danger">
                                <%= message %>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>