<%- include('../User/partials/header.ejs') %>

  <section class="gradient-custom container vh-100">
    <div class="container py-5 h-100 row justify-content-center align-items-center">
      <div class="col-12 col-lg-9 col-xl-8">
        <div class="card shadow-2-strong card-registration">
          <div class="card-body shadow" style="background-color: #EBEBEB;border-radius: 5px;">

            <form action="<%= action %>" method="post" id="form" class="d-flex flex-column align-items-center mt-3">

              <div class="mb-5 d-flex flex-column align-items-center">
                <div class="fw-bold text-center fs-5 text-uppercase mb-1">Reset Password</div>
                <div class="text-center" style="font-size: 16px;">Enter Your new Password</div>
              </div>

              <div class="col-md-6">

                <div class="form-outline mb-3">
                  <label class="form-label" for="passowrd">New Password</label>
                  <input type="password" id="password" name="password" style="box-shadow: none;"
                    class="form-control passowrd" required />
                </div>

                <div class="form-outline mb-3">
                  <label class="form-label" for="confirm-password">Confirm New Password</label>
                  <input type="password" id="confirm-password" name="confirmPassword" style="box-shadow: none;"
                    class="form-control passowrd" required />
                </div>

              </div>

              <div id="error-field" class="text-danger"></div>

              <button type="submit" style="background-color: #15A78F;color: #fff;min-width: 10rem;"
                class="btn fw-normal p-10 mb-3 mt-3">Send</button>


            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    const form = document.getElementById('form');
    const password = document.getElementById('password');
    const confirmPassword = document.getElementById('confirm-password');

    form.addEventListener('submit', (e) => {
      e.preventDefault();

      if (password.value !== confirmPassword.value) {
        document.getElementById('error-field').innerHTML = "Password does not match";
        document.getElementById('error-field').style.display = "block";
      }
      else {
        document.getElementById('error-field').innerHTML = "";
        document.getElementById('error-field').style.display = "none";
        form.submit();
      }

    })


  </script>


  <%- include('../User/partials/footer.ejs') %>