<!-- views/404.ejs -->
<!DOCTYPE html>
<html>

<head>
  <title>404 - Page Not Found</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <div class="col-12 mb-4 mt-4 text-center">
    <div class="d-flex justify-content-center align-items-center">
      <a href="/">
        <img src="https://res.cloudinary.com/dtbohkfpy/image/upload/v1687950151/logo_png_la2lo3.png"
          style="max-width: 50rem; margin-top: 5rem;" alt="Phone image"></a>
    </div>
    <h3 class="py-5">404 - Page Not Found!</h3>
    <p>Sorry, the page you are looking for does not exist.</p>
    <p><a href="/">Go back to home</a></p>
  </div>
</body>

</html>