<%- include('./partials/header') %>

    <section class="gradient-custom container vh-100">
        <div class="container py-5 h-100 row justify-content-center align-items-center">
            <div class="col-12 col-lg-9 col-xl-8">
                <div class="card shadow-2-strong card-registration">
                    <div class="card-body shadow" style="background-color: #EBEBEB;border-radius: 5px;">

                        <form action="/user/profile/oldPassword?id=<%= id %>" method="post" id="form"
                            class="d-flex flex-column align-items-center mt-3">

                            <div class="mb-5 d-flex flex-column align-items-center">
                                <!-- <div class="fw-bold text-center fs-5 text-uppercase mb-1">Reset Password</div> -->
                                <div class="fw-bold text-center fs-5 text-uppercase mb-1">Enter Your Old Password</div>
                                <!-- <div class="text-center" style="font-size: 16px;">Enter Your Old Password</div> -->
                            </div>

                            <div class="col-md-6">

                                <div class="form-outline mb-3">
                                    <label class="form-label" for="passowrd">Old Password</label>
                                    <input type="password" id="oldPassword" name="oldPassword" style="box-shadow: none;"
                                        class="form-control passowrd" required />
                                </div>


                            </div>

                            <div id="error-field" class="text-danger"></div>
                            <div class="text-center text-danger">
                                <%= message %>
                            </div>

                            <button type="submit" style="background-color: #7FAD39;color: #fff;min-width: 10rem;"
                                class="btn fw-normal p-10 mb-3 mt-3">Reset</button>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer')%>