</div>


</div>
</section>



</div>
</div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $("#sidebarToggle").click(function () {
            $("#sidebar").toggleClass("active");
        });
        $(window).resize(function () {
            if ($(window).width() > 991) {
                $("#sidebar").removeClass("active");
            }
        });
    });
</script>
</body>

</html>